---
import Layout from "../layouts/Layout.astro";
// Sections
import About from "../sections/About.astro";
import Skills from "../sections/Skills.astro";
import Projects from "../sections/Projects.astro";
import Education from "../sections/Education.astro";
// Components
import Navbar from "../components/Navbar.astro";
---

<Layout title="Chris Joseph's Portfolio">
  <main class="bg-gradient-to-br to-stone-800 from-slate-800 w-screen h-screen">
    <About />
    <Skills />
    <Projects />
    <Education />
  </main>
  <Navbar />
</Layout>

<style>
  html {
    overflow: hidden;
    scroll-behavior: smooth;
  }
  body, pre {
    font-family: "Space Mono", "Montserrat";
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
</style>
