
<!-- Clases dinamicas previamente cargadas -->
<div class="hidden">
    <div class="from-red-500 h-10"></div>
    <div class="from-red-600 h-40"></div>
    <div class="from-orange-600"></div>
    <div class="from-orange-700"></div>
    <div class="from-yellow-400"></div>
    <div class="from-yellow-500"></div>
    <div class="from-blue-300 py-[8%]"></div>
    <div class="from-blue-500"></div>
    <div class="from-blue-700 to-blue-700"></div>
    <div class="from-blue-800"></div>
    <div class="from-gray-700"></div>
    <div class="from-purple-800"></div>
    <div class="from-green-500 h-30"></div>
    <div class="from-green-700"></div>
</div>